@use '@angular/material' as mat;
@import './theme-mixins';

$theme-primary: mat.m2-define-palette(mat.$m2-deep-purple-palette);
$theme-accent: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

.theme-deep-purple {
  &.day-mode {
    $theme: mat.m2-define-light-theme($theme-primary, $theme-accent, $theme-warn);
    @include mat.all-component-themes($theme);
    @include theme-based-configurations($theme);
  }

  &.night-mode {
    $theme: mat.m2-define-dark-theme($theme-primary, $theme-accent, $theme-warn);
    @include mat.all-component-themes($theme);
    @include theme-based-configurations($theme);
  }
}
